<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>
<iframe src="{{.Get 0}}" width="1100" height="2300" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>
