<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}

            <div class="container">

                <div class="row">

                

                  

                  {{ if or (eq .Title "Partners") (eq .Title "Host & Institutional Support") (eq .Title "Sponsors") (eq .Title "useR! 2021 Session Overview - Enter your session!") }}

                  <div class='col-md-8'>

                  {{ else if or (eq .Title "Schedule") (eq .Title "useR! 2021 Session Overview - Find your session")  }}

                  <div class='col-md-12'>

                  {{ else }}                      

                  <div class='col-md-6'>
          
                  {{end}}

                        <div>
                          {{ .Content }}
                        </div>

                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

            {{ end }}
        </div>
        <!-- /#content -->

    </div>
    <!-- /#all -->

    {{ partial "footer.html" . }}

    {{ partial "scripts.html" . }}

  </body>
</html>
