<footer id="footer">
	
	<div class="container">
		<div class="row">



		{{ if isset .Site.Params "about_us" }}
		<div class="col-md-4 col-sm-6">

			<div class="sponsor-cat" style="color:#FFFFFF;">Host / Global Digital Partner</div>
			<img src="/img/artwork/eth-negativ.png" alt="KOF Swiss Economic Institute." width="120px">&nbsp;&nbsp;&nbsp;&nbsp;
			<img src="/img/artwork/kof-negativ.png" alt="E.T.H Zurich" width="50px">
			
			
					
<!--

		{{ .Site.Params.about_us | markdownify }}
-->
	

			<hr class="hidden-md hidden-lg hidden-sm">

		</div>


		<!-- /.about us -->
		{{ end }}

		<div class="col-md-4 col-sm-6">

			<div class="social">
				{{ range .Site.Menus.topbar.ByWeight }}
				<a href="{{ .URL }}" target="_blank" style="opacity: 1;">{{ .Pre }}</a>
				{{ end }}
			</div>
			

			<hr class="hidden-md hidden-lg">

		</div>
		<!-- /.socials -->

		{{ if isset .Site.Params "address" }}
		<div class="col-md-8 col-sm-8">

			<span style="color:#FFFFFF">The <a href="https://www.r-project.org/conferences/" target="_blank">useR! conference series</a> is arranged by the <a href="https://www.r-project.org/foundation/" target="_blank">R Foundation</a></span>



			<hr class="hidden-md hidden-lg hidden-sm">

		</div>
		<!-- /.address -->
		{{ end }}

	</div>
	<br>
	<div class="row">
		<div class="col-md-12 col-sm-8">
			<div class="sponsor-cat" style="color:#FFFFFF;">Platinum Sponsors</div>
			<a href="/about/platinum/rstudio/"><img class="platinum" src="/img/artwork/rstudio-white.svg" alt="R Studio" width="110px"></a>
			<a href="/about/platinum/appsilon/"><img class="platinum" src="/img/artwork/appsilon-white.svg" alt="Appsilon" width="110px">
				<a href="/about/platinum/roche/"><img class="platinum" src="/img/artwork/roche-white.svg" alt="Roche" width="90px">
			
		</div>				

	</div>

	</div>
	<!-- /.container -->
</footer>

<!-- /#footer -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>-->



<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
	<div class="container">
		<div class="col-md-12" style="color:#FFFFFF;">
			{{ if isset .Site.Params "copyright" }}
			<p class="pull-left">{{ .Site.Params.copyright | safeHTML }}</p>
			{{ end }}
			<p class="pull-right">
				{{ i18n "templateBy" }} <a href="http://bootstrapious.com/free-templates">Bootstrapious</a>.
				<!-- Not removing this link is part of the licence conditions of the template. Thanks for understanding :) -->

				{{ i18n "portedBy" }} <a href="https://github.com/devcows/hugo-universal-theme">DevCows</a>
			</p>
		</div>
	</div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
