{{ "<!-- Hero -->" | safeHTML }}
<header id="hero">
  <div class="overlay">
    <div class="container"> 
      <div class="intro-text">
        <div class="intro-heading heading">
          <h1 class="intro-heading heading">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</h1><br>
          <h2 class="intro-subtitle">5-9 July, 2021</h2> 

<!--         <ul class="countdown"></ul>
            <li class="cdelement firstel" style="display: inline-block; font-size: 1em;
        list-style-type: none;"><span id="days" style="display:block;font-size: 2.3em;font-weight:bold;"></span>DAYS</li>
            <li class="cdelement" style="display: inline-block; font-size: 1em;
        list-style-type: none; "><span id="hours" style="display:block;font-size: 2.3em;font-weight:bold;"></span>HOURS</li>
            <li class="cdelement" style="display: inline-block; font-size: 1em;
        list-style-type: none;"><span id="minutes" style="display:block;font-size: 2.3em;font-weight:bold;"></span>MINUTES</li>
            <li class="cdelement" style="display: inline-block; font-size: 1em;
        list-style-type: none;"><span id="seconds" style="display:block;font-size: 2.3em;font-weight:bold;"></span>SECONDS</li>
          </ul>
         
-->

        </div>
        </div>
        {{ if .Site.Params.hero.showButton }}
        <a href="{{ .Site.Params.participation.tickets_link }}" class="page-scroll btn btn-xl">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a>
        {{ end }}
      </div>
    </div>
  </div>
</header>


<script>


//countdown timer
(function () {
const second = 1000,
  minute = second * 60,
  hour = minute * 60,
  day = hour * 24;

// Using UTC Time here, remember JS is off by 1 month cause
// counting months starts at zero! this is actually Jul 4, 2021 22:15:00
let countDown = new Date(Date.UTC(2021,6,4,22,15,0)).getTime(),
x = setInterval(function() {    

  let now = new Date().getTime(),
      distance = countDown - now;

  document.getElementById("days").innerText = Math.floor(distance / (day)),
    document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
    document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
    document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

  //do something later when date is reached
  if (distance < 0) {
     headline = document.getElementById("headline");
document.getElementById("days").innerText = 0;
document.getElementById("hours").innerText = 0;
document.getElementById("minutes").innerText = 0;
document.getElementById("seconds").innerText = 0;
     //countdown = document.getElementById("countdown");
     //content = document.getElementById("content");

    headline.innerText = "Welcome to useR! 2021";

    //countdown.style.display = "none";
    //content.style.display = "block";

    clearInterval(x);
  }
  //seconds
}, 0)
}());
</script>